<div class="container">
    <div class="calculator">
        <div class="display">
            
            {{ result ? result : '0' }}
            
        </div>
       
        <div class="btnBox">
            <div class="btnrow">
                <button  class="btn" mat-raised-button (click)='addToCalculation("(")'
                >(</button>
                <button  class="btn" mat-raised-button (click)="addToCalculation(')')"
                >)</button>
                <button class="btn" mat-raised-button (click)="delete()"
                >C</button>
                <button class="btn" mat-raised-button (click)="delete(true)"
                >DEL</button>
            </div>
            <div class="btnrow" *ngFor="let row of calcMap">

            <button class="btn" mat-raised-button
            *ngFor="let button of row"
            (click)="addToCalculation(button)">
      {{ button }}
    </button>
        </div>
        </div>

    </div>
</div>


























<!-- <div class="container" style="padding: 20px 20px 20px 20px;" >
    <h2>Calculator</h2>
    <div>
        <form class="example-form" [formGroup]="inputStr">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="0" value=""  formControlName="data" >
  </mat-form-field>
</form>

<div>
    <section>
        <div class="example-button-row"></div>
        <button mat-raised-button color="primary" (click)="btnclick($event.target)">%</button>
        <button mat-raised-button color="warn" (click)="remove()">CE</button>
        <button mat-raised-button color="warn" (click)="remove()">C</button>
        <button mat-raised-button color="warn" (click)="moveoneStepBck()">DEL</button>
    </section>
    <section>
        <div class="example-button-row">
        <button mat-raised-button color="primary" >1/<sub>x</sub></button>
        <button mat-raised-button color="primary">x<sup>2</sup></button>
        <button mat-raised-button color="accent">Gst</button>
        <button mat-raised-button color="primary" (click)="btnclick($event.target)">/</button>
    </div>
    </section>
    <section>
        <div class="example-button-row">
        <button mat-raised-button (click)="btnclick($event.target)">7</button>
        <button mat-raised-button (click)="btnclick($event.target)">8</button>
        <button mat-raised-button (click)="btnclick($event.target)">9</button>
        <button mat-raised-button color="primary" (click)="btnclick($event.target)">*</button>
    </div>
    </section>
    <section>
        <div class="example-button-row">
        <button mat-raised-button (click)="btnclick($event.target)"> 4</button>
        <button mat-raised-button (click)="btnclick($event.target)"> 5</button>
        <button mat-raised-button (click)="btnclick($event.target)"> 6</button>
        <button mat-raised-button color="primary" (click)="btnclick($event.target)">-</button>
    </div>
    </section>
    <section>
        <div class="example-button-row">
        <button mat-raised-button (click)="btnclick($event.target)">1</button>
        <button mat-raised-button (click)="btnclick($event.target)">2</button>
        <button mat-raised-button (click)="btnclick($event.target)">3</button>
        <button mat-raised-button color="primary" (click)="btnclick($event.target)">+</button>
    </div>
    </section>
  <section>
    <div class="example-button-row">
    <button mat-raised-button color="primary">+/<sub>-</sub></button>
    <button mat-raised-button (click)="btnclick($event.target)">0</button>
    <button mat-raised-button (click)="btnclick($event.target)">.</button>
    <button mat-raised-button color="primary" (click)="btnclick($event.target)">=</button>
</div>
  </section>
 
  
</div>
    </div>
</div> -->
