<div class="container">
    <div class="calculator">
        <div class="display">
            
            {{ result ? result : '0' }}
            
        </div>
       
        <div class="btnBox">
            <div class="btnrow">
                <button  class="btn" mat-raised-button (click)='addToCalculation("(")'
                >(</button>
                <button  class="btn" mat-raised-button (click)="addToCalculation(')')"
                >)</button>
                <button class="btn" mat-raised-button (click)="delete()"
                >C</button>
                <button class="btn" mat-raised-button (click)="delete(true)"
                >DEL</button>
            </div>
            <div class="btnrow" *ngFor="let row of calcMap">

            <button class="btn" mat-raised-button
            *ngFor="let button of row"
            (click)="addToCalculation(button)">
      {{ button }}
    </button>
        </div>
        </div>

    </div>
</div>